<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shrech Zone</title>
    <link rel="stylesheet" href="/stylesheets/bulma.min.css">
</head>
<body>
    <section class="hero is-success is-small">
        <nav class="navbar">
            <a href="/" class="navbar-item">Home</a>
            {{#if loggedIn}}<a href="/dashboard" class="navbar-item">Dashboard</a><a id="logout" class="navbar-item">Logout</a>
            {{else}}<a href="/login" class="navbar-item">Login</a><a href="/login" class="navbar-item">Sign Up</a>
            {{/if}}
            </nav>
        <div class="hero-body has-text-centered">
            <p class="title">
                The Shrech Zone
            </p>
            <p class="subtitle">
                The misleading tech zone
            </p>
        </div>
    </section>
    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>