<section class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column is-half">
        <div class="box content my-5">
            <input class="input content" id="post-title" placeholder="Post title..." />
            <textarea class="textarea content" name="post-body" placeholder="Enter your blog entry..."></textarea>
            <button id="add-submit-btn" class="button is-success content">Submit</button>
            <a href="/dashboard" class="button is-danger content">Cancel</a>
        </div>
    </div>
</section>
<script src="/javascript/addPost.js"></script>