<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column is-one-quarter">
        <div class="card mt-5" id="login-form">
            <div class="card-header">
                <div class="card-header-title is-centered">
                    Log In
                </div>
            </div>
            <div class="card-content">
                <label class="label" for="username-login">Username:</label>
                <input class="input" type="text" id="username-login" placeholder="Username" />
            </div>
            <div class="card-content">
                <label class="label" for="password-login">Password:</label>
                <input class="input" type="password" id="password-login" />
            </div>
            <div class="card-content">
                <button id="login-btn" class="button" type="submit">Login</button>
            </div>
        </div>
    </div>
    
    <div class="column is-one-quarter">
        <div class="card mt-5" id="signup-form">
            <div class="card-header">
                <div class="card-header-title is-centered">
                    Sign Up
                </div>
            </div>
            <div class="card-content">
                <label class="label" for="username-signup">Username:</label>
                <input class="input" type="text" id="username-signup" placeholder="Username" />
            </div>
            <div class="card-content">
                <label class="label" for="email-signup">Email:</label>
                <input class="input" type="text" id="email-signup" placeholder="example@mail.com" />
            </div>
            <div class="card-content">
                <label class="label" for="password-signup">Password:</label>
                <input class="input" type="password" id="password-signup" />
            </div>
            <div class="card-content">
                <button id="signup-btn" class="button" type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>